
LambdaExpressions/\.classpath

*.class

*.prefs

LambdaExpressions/\.project

*.bin

*.lock

*.properties

FunctionalInterfaces/\.classpath

FunctionalInterfaces/\.project

Optional/\.classpath

Optional/\.project

Streams/\.classpath

Streams/\.project
